{%  extends "base.html" %}

{% block site_name %}管理界面{% endblock %}
{% block header %}管理员模式{% endblock %}
{% block left_body %}
        <ul class="nav flex-column nav-pills">
        <li class="nav-item">
            <a  class="nav-link active" href="/">转到主界面</a>
        </li>
          <li class="nav-item">
            <a  class="nav-link" href="/user/">转到用户界面</a>
          </li>
          <li class="nav-item">
            <a  class="nav-link" href="temp/">校外用户启用（临时权限即可）</a>
          </li>
          <li class="nav-item">
            <a  class="nav-link" href="user-control/">用户状态管理</a>
          </li>
          <li class="nav-item">
            <a  class="nav-link" href="book-control/">图书管理</a>
          </li>
          <li class="nav-item">
            <a  class="nav-link" href="admin-control/">超级管理管理记录观察</a>
          </li>
          <li class="nav-item">
            <a  class="nav-link" href="data/">数据展示</a>
          </li>
        </ul>
{% endblock %}

{% block right_body %}
<h3>
    这里是图书管理员的界面，包括对于数据的汇总、修改等功能
</h3>


{% if login==False %}
<h3 class="text-center text-primary">请登录（管理员账号）</h3>
<form role="form" action="/admin/login/" method="post">
    <div class="form-group">

        <label for="id">
            管理员账号
        </label>
        <input type="text" class="form-control" name="id"/>
    </div>
    <div class="form-group">

        <label for="password">
            密码
        </label>
        <input type="password" class="form-control" name="password" />
    </div>
    <button type="submit" class="btn btn-primary">
        登录
    </button>
</form>

{% endif %}


{% if login %}
<h3 class="text-success text-center">{{ Atype }}-{{ Ano }}已经成功登录</h3>

<p>{{ Amore }}</p>

<form role="form" action="/admin/logout/" method="post">
    <div class="form-group">
    <button type="submit" class="btn btn-primary">
        退出登录请点击这里
    </button>
    </div>
</form>
{% endif %}

{% if error %}
<h3 class="text-danger text-center">您登录失败，是不是账号密码有误？</h3>
{% endif %}

{% endblock %}