<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<script src="https://how2j.cn/study/js/jquery/2.0.0/jquery.min.js"></script>
<!--<link href="https://how2j.cn/study/css/bootstrap/3.3.6/bootstrap.min.css" rel="stylesheet">-->
<!--<script src="https://how2j.cn/study/js/bootstrap/3.3.6/bootstrap.min.js"></script>-->
<link href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename = 'js/bootstrap.min.js') }}"></script>

<html>
  <head>
    <title>{% block site_name %}网页名字，应该在模板中替换{% endblock %}</title>
  </head>
  <body>
    <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center text-success">
          {% block header %}顶部标题{% endblock %}
        </h2>
      <div class="progress">
            <div class="progress-bar w-100 progress-bar-striped progress-bar-animated"></div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-3">
      {% block left_body %}
      <ul class="nav flex-column nav-pills">
          <li class="nav-item">
              <a class="nav-link active" href="/">返回</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/">返回</a>
          </li>
      {% endblock %}
      </ul>
      </div>
      <div class="col-md-9">
      {% block right_body %}
        <h2>
            右侧版面主题
        </h2>
      {% endblock %}
      </div>

    </div>
  </div>
  </body>
</html>
