<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<script src="https://how2j.cn/study/js/jquery/2.0.0/jquery.min.js"></script>
<!--<link href="https://how2j.cn/study/css/bootstrap/3.3.6/bootstrap.min.css" rel="stylesheet">-->
<!--<script src="https://how2j.cn/study/js/bootstrap/3.3.6/bootstrap.min.js"></script>-->
<link href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename = 'js/bootstrap.min.js') }}"></script>

<html>
  <head>
    <title>{% block site_name %}网页名字，应该在模板中替换{% endblock %}</title>
  </head>
  <body>
    <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">
          {% block header %}顶部标题{% endblock %}
        </h1>
      </div>
    </div>


    <div class="row">
      <div class="col-md-3">
      {% block left_body %}
        <ul>
          <li class="list-item">
            左侧列表栏
          </li>
          <li class="list-item">
            建议每次都替换
          </li>
        </ul>
      {% endblock %}
      </div>
      <div class="col-md-9">
      {% block right_body %}
        <p>
            右侧版面主题
        </p>
      {% endblock %}
      </div>

    </div>
  </div>
  </body>
</html>
