{%  extends "base.html" %}

{% block site_name %}用户界面{% endblock %}
{% block header %}用户模式{% endblock %}
{% block left_body %}
        <ul class="nav flex-column nav-pills">
            <li class="nav-item">
                <a  class="nav-link active" href="/">转到主界面</a>
            </li>
          <li class="nav-item">
            <a class="nav-link" href="../">返回用户主界面</a>
          </li>
        </ul>
{% endblock %}


{% block right_body %}
    <!--
<form role="form" action="borrow-check/" method="post">
    <div class="form-group">

        <label for="id">
            输入书号
        </label>
        <input type="text" class="form-control" name="id" />
    </div>
    <button type="submit" class="btn btn-primary">
        Submit
    </button>
</form>
    -->
    <h3 class="text-active text-center">这是已在借阅列表的图书</h3>

{% if borrowed==None%}
    <h3 class="text-danger text-center">您似乎还没有在借的图书</h3>
{% endif %}

{% if borrowed!=None %}
    <table class="table table-bordered">
  <thead>
  <tr class="table-active">
      <th>ISBN</th>
      <th>书名</th>
      <th>点击还书</th>
  </tr>
  </thead>
{% for row in borrowed %}
<tr class="table-success">
    <td>{{ row[0] }}</td>
    <td>{{ row[1] }}</td>
    <td>
        <form role="form" action="/user/return/act/" method="post" class="form-inline">
            <input type="hidden" name="ISBN" value="{{ row[0] }}"/>
            <label for="date">
                手动输入还书日期（因为这个如果自动日期，不便测试）
            </label>
            <input type="date" class="form-control" name="date" />
            <button type="submit" class="btn btn-primary">
                我要还书
            </button>
        </form>
    </td>
</tr>
{% endfor %}
</table>


{% endif %}


{% endblock %}